#image {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

main {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: rgb(137, 152, 219);
}

#timeLine {
    background-color: azure;
    width: 50%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(97, 109, 161);
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

li {
    padding: 5px;
}

#events {
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}